.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 2em;
  border-bottom: 2px solid gray;
  background-color: lightgrey;
}

.navbar-title {
  color: #1792d2;
  font-size: 1.125rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul a {
  margin-left: 2em;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar ul a:hover {
  color: #106d9f; 
  text-decoration: underline;
}

.navbar ul a.active {
  color: #106d9f;
}

.navbar-title a {
  text-decoration: none;
  color: #1792d2;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-title a:hover,
.navbar-title a.active {
  text-decoration: none;
}
